
# dependencies
/node_modules
/fronttend/node_modules
/fronttend/.pnp
/fronttend/.pnp.js

# testing
/fronttend/coverage

# production
/fronttend/build

# misc
/backend/config/config.env
/fronttend/.DS_Store
/fronttend/.env.local
/fronttend/.env.development.local
/fronttend/.env.test.local
/fronttend/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
